body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    width: 100%;
}

h1 {
    text-transform: uppercase;
}

.container label {
    text-transform: capitalize;
}

.container input {
    width: 25%;
}


.items {
    width: 0px;
    padding-left: 40%;
}